<div id="<%= dom_id article %>">
  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= article.user_id %>
  </p>

  <% if !simple %>
    <p>
      <strong>Content:</strong>
      <%= article.content %>
    </p>
  <% end %>

  <p>
    <strong>Price:</strong>
    <%= "$#{article.price}" %>
  </p>


</div>
