<p style="color: green"><%= notice %></p>

<%# remember to use flex-grow for other pages so that it works with the footer %>
<%# end %>

<div class="container mx-auto mt-8 flex-grow">
  <h1 class="text-4xl font-bold my-2">Articles</h1>
  <div class="my-4 flex justify-between items-center">
    <%= link_to "New article", new_article_path, class: "bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-1 px-2 border border-blue-500 hover:border-transparent rounded btn-width" %>
    <%= form_with(url: articles_path, method: :get, local: true) do |form| %>
      <%= form.label :sort, "Sort by:", class: "mr-2" %>
      <%= form.select :sort, options_for_select([['Likes', 'likes'], ['Latest', 'latest']], session[:sort]), {}, onchange: 'this.form.submit();', class: "w-64 mt-1 pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md" %>
    <% end %>
  </div>
    <% cache_key = "article-listing/#{@articles.current_page}/#{@articles.maximum(:updated_at).to_i}" %>
    <% cache(cache_key) do %>
      <div id="articles" class="grid grid-cols-2 sm:grid-cols-1 lg:grid-cols-3 gap-4">
        <% @articles.each do |article| %>
          <% if article.price == 0 || user_signed_in? %>
          <div class="bg-white my-2 p-6 rounded-lg shadow-md overflow-hidden">
          <% cache article do %>
            <%= render article, simple: true %>
          <% end %>
          <p class="mt-2">
            <%# paid = Transaction.find_by(user_id: current_user.id, article_id: article.id) %>
            <% if user_signed_in? && current_user.id != article.user_id && article.price != 0 && !Transaction.find_by(user_id: current_user.id, article_id: article.id) %>
              <%= link_to "Pay", new_article_transaction_path(article), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
            <% else %>
              <%= link_to "Show this article", article, class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded height: 40px;" %>
            <% end %>
          </p>
          </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <div class="flex justify-center items-center space-y-4 py-8">
      <% if user_signed_in? %>
        <%= paginate @articles %>
      <% else %>
        <%= link_to "Login For More", new_user_session_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
      <% end %>
    </div>
</div>
