<p style="color: green"><%= notice %></p>

<% button_classes = "" %>

<div class="container mx-auto mt-8 flex-grow">
  <%= render @article, simple: false %>

  <div class="space-y-4">
    <p>Likes: <%= @article.likes.size %></p>
    <% if user_signed_in? %>
      <div class="my-2">
        <% if !current_user.likes.exists?(user_id: current_user.id, article_id: @article.id) %>
          <%= button_to like_article_path(@article), method: :post, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded flex items-center" do %>
            <%= image_tag("like_icon.svg", class: "h-5 w-5 mr-2") %>
            <span>Like</span>
          <% end %>
        <% else %>
          <%= button_to "Unlike", unlike_article_path(@article), method: :delete, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" %>
        <% end %>
      </div>
    <% end %>
    <% if user_signed_in? and current_user.id == @article.user_id %>
      <div class="my-2">
        <%= link_to "Edit this article", edit_article_path(@article), class: "bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded" %>
      </div>
      <div class="my-2">
        <%= button_to "Destroy this article", @article, method: :delete, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" %>
      </div>
      <div class="my-2">
        <%= link_to "Back to articles", articles_path, class: "bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded" %>
      </div>
    <% else %>
      <div class="my-2">
        <%= link_to "Back to articles", articles_path, class: "bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded" %>
      </div>
    <% end %>
  </div>
</div>

<hr style="border: 1px solid #ddd; margin: 20px 0 0 0;">

<div class="container mx-auto mt-8 flex-grow">
  <div class="container mt-4">
    <h2 class="text-4xl font-bold my-2 text-lg">All Comments</h2>
  </div>
  <ul style="list-style-type: none; padding: 0;">
    <% @article.comments.each do |comment| %>
      <li style="border-bottom: 1px solid #ddd; padding: 10px; margin: 0;">
        <p>
          <strong>User:</strong>
          <%= comment.user.email %>
        </p>
        <p>
          <strong>Comment:</strong>
          <%= comment.content %>
        </p>
      </li>
    <% end %>
  </ul>
  <div class="my-2">
    <%= link_to "New Comment", new_article_comment_path(@article), class: "bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-1 px-2 border border-blue-500 hover:border-transparent rounded" %>
  </div>
</div>
