<p style="color: green"><%= notice %></p>

<% button_classes = "" %>

<div class="container mx-auto mt-8 flex-grow">
  <%= render @article, simple: false %>

  <div class="space-y-4">
    <p>Likes: <%= @article.likes.size %></p>
    <% if user_signed_in? %>
      <div class="my-2">
        <% if !current_user.likes.exists?(user_id: current_user.id, article_id: @article.id) %>
          <%= button_to like_article_path(@article), method: :post, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded flex items-center" do %>
            <%= image_tag("like_icon.svg", class: "h-5 w-5 mr-2") %>
            <span>Like</span>
          <% end %>
        <% else %>
          <%= button_to "Unlike", unlike_article_path(@article), method: :delete, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" %>
        <% end %>
      </div>
    <% end %>
    <% if user_signed_in? and current_user.id == @article.user_id %>
      <div class="my-2">
        <%= link_to "Edit this article", edit_article_path(@article), class: "bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded" %>
      </div>
      <div class="my-2">
        <%= button_to "Destroy this article", @article, method: :delete, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" %>
      </div>
      <div class="my-2">
        <%= link_to "Back to articles", articles_path, class: "bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded" %>
      </div>
    <% else %>
      <div class="my-2">
        <%= link_to "Back to articles", articles_path, class: "bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded" %>
      </div>
    <% end %>
  </div>
</div>

<h2>All Comments</h2>
<ul>
  <% @article.comments.each do |comment| %>
    <li>
      <p>
        <strong>User's email:</strong>
        <%= comment.user.email %>
      </p>
      <p>
        <strong>Comment Content:</strong>
        <%= comment.content %>
      </p>
    </li>
  <% end %>
</ul>

<% if defined?(@user) %>
  <%= link_to "New Comment", new_user_article_comment_path(@user, @article) %>
<% else %>
  <%= link_to "New Comment", new_article_comment_path(@article) %>
<% end %>
