<div id="<%= dom_id transaction %>">
  <p>
    <strong>Trans:</strong>
    <%= transaction.trans_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= transaction.user_id %>
  </p>

  <p>
    <strong>Article:</strong>
    <%= transaction.article_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= transaction.amount %>
  </p>

</div>
